# Computing Returns
Understanding how returns are computed, annualized and compared is essential for the purposes of portfolio comparison in asset management. We will also use these methods to introduce the basics of importaant coding notions and libraries.

Let us display the prices of an asset as they evolve overtime using a data type  (in this case a list):

In [2]:
prices_of_a_security = [100, 99, 103.02, 105.0804, 107, 109, 110, 125, 145, 5, 67]

Quick review of lists:
1. A list is a data structure in python
2. We can use lists (defined by brackets[]) to store integers, floats, strings and more
3. We can access elements of a list individually, entirely, or separately using slicing

Note: In a python list the index of elements are as follows [0,1,2,3,4,5]

- list[i] --> accesses the i'th element in the list, the element at index i
- list[:] --> accesses the entire list
- list[:2] --> accesses all elements until index 2
- list[1:4] --> accesses all elements from index 1 to index 4

In [8]:
example = [1,2,"yay",3.00,4,5,6]
print(example[-1])

6

### Using the 1+r approach

We can compute the first years return in 1+r format by assigning the result of the ratio between the (price in year 1 and price in year 0) and price in year 1 to a variable and printing it.

In [3]:
y1_return = (prices_of_a_security[1]-prices_of_a_security[0])/prices_of_a_security[0]
y1_return

-0.01

In [4]:
y1_return = prices_of_a_security[1]/prices_of_a_security[0]
print(round(y1_return,2))

0.99

Assuming we have the price for available for the first n years, we can create our own list to compute n years worth of returns:

In [5]:
#Create a list where we will store the returns of our security
security_returns = []

#Use a for loop to iterate through our price list and gather return information

i=0
while i+1 < len(prices_of_a_security):
    returns = prices_of_a_security[i+1]/prices_of_a_security[i]
    security_returns.append(returns)
    i+=1


for returns in security_returns:
    print(round(returns,4))

0.99
1.0406
1.02
1.0183
1.0187
1.0092
1.1364
1.16
0.0345
13.4

### How does this affect our holdings?

Now that we have created a list with our returns for each consecutive year, we can create a wealth index given a initial amount invested which we will call initial_investment:

In [6]:
initial_investment = 3000

print(security_returns)

factor = 1
for returns in security_returns:
    factor = factor * returns

initial_investment *= factor

print(round(initial_investment,2))

[0.99, 1.0406060606060605, 1.02, 1.0182679167570736, 1.0186915887850467, 1.0091743119266054, 1.1363636363636365, 1.16, 0.034482758620689655, 13.4]
2010.0

# Using Numpy and Pandas to Compute Returns

Although working with lists seems convenient, there are much more efficient and clear ways to do these computations using pre-defined methods in libraries such as numpy and pandas. 

The reason being:

- Working with arrays and data frames allows us to be more efficient

- The people who built numpy and pandas included extremely useful methods for us to compute percentage changes and more

In [17]:
#First we must import these two libraries
#Make sure to pip install these if the import statement gives you an error
#Go to your terminal and type : "pip install pandas" & "pip install numpy"
import numpy as np
import pandas as pd

## Returns using Numpy

Numpy and Pandas will be useful mainly for a few diffrent purposes:

* Numpy and Pandas work together to automate processes for us
* We can cast returns into an array rather than keeping them as lists 
* We can use Pandas to not create the methods ourselves and use predefined

## Pandas for Stock Data Analysis

We've just seen the power of importing packages through the numpy example. As we will see Pandas has predefined methods 

Basic Pandas :

* pd.DataFrame({}) : Create a Data Frame

* df[:] : slice a dataframe (you control the rows)

* .iloc : integerlocation : Used to slice a pandas data dataframe and obtain desired rows

Computing Returns for your dataFrame

* df.iloc[1:].values / df.iloc[:-1]-1 :

In [35]:
# We can also use Pandas to frame our data, rather than keep it in array format

stock_prices = pd.DataFrame({"STOCK_A": [10, 11, 12, 18, 33, 40, 33],
                      "STOCK_B":[7, 9, 8, 10, 11, 12, 14]
                      })

#We can play around to gather the rows we want
stock_prices[:]

   STOCK_A  STOCK_B
0       10        7
1       11        9
2       12        8
3       18       10
4       33       11
5       40       12
6       33       14

In [31]:
# The iloc method is part of the DataFrame Class, it allows us to extract rows out of a data frame
stock_prices.iloc[2:4]

   STOCK_A  STOCK_B
2       12        8
3       18       10

In [33]:
#Accessing one column in our DataFrame
stock_prices["STOCK_A"].head()

0    10
1    11
2    12
3    18
4    33
Name: STOCK_A, dtype: int64

## Computing Returns in a DataFrame
Using the predefined methods that are part of the pandas documentation, computing returns and changing our data Frame has never been easier. We can simply use the methods to perform computation on the data at hand, or even let those methods perform computations for us.

In [34]:
#Extracting returns from our data set
stock_prices.iloc[1:].values / stock_prices.iloc[:-1] -1

    STOCK_A   STOCK_B
0  0.100000  0.285714
1  0.090909 -0.111111
2  0.500000  0.250000
3  0.833333  0.100000
4  0.212121  0.090909
5 -0.175000  0.166667

In [50]:
# We can easily compute return for both stocks this way
stock_prices.iloc[1:]/ stock_prices.iloc[:-1].values

    STOCK_A   STOCK_B
1  1.100000  1.285714
2  1.090909  0.888889
3  1.500000  1.250000
4  1.833333  1.100000
5  1.212121  1.090909
6  0.825000  1.166667

In [40]:
# Method to shift prices down 1
stock_prices.shift()

   STOCK_A  STOCK_B
0      NaN      NaN
1     10.0      7.0
2     11.0      9.0
3     12.0      8.0
4     18.0     10.0
5     33.0     11.0
6     40.0     12.0

In [42]:
#Can also be used to compute our returns, for the first stock or the second stock
stock_a_returns = stock_prices.values / stock_prices.shift(1) - 1
stock_a_returns

    STOCK_A   STOCK_B
0       NaN       NaN
1  0.100000  0.285714
2  0.090909 -0.111111
3  0.500000  0.250000
4  0.833333  0.100000
5  0.212121  0.090909
6 -0.175000  0.166667

Thankfully, we will never have to do these "manual" calculations again. The developpers of these libraries have created methods to help users speed up their analysis which we will encounter soon.